# Dependencies
node_modules/
.pnpm-store/

# Build outputs (di-ignore di Git, tapi di-include di NPM via package.json "files")
dist/
build/
out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor & OS files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db

# Testing & Coverage
coverage/
.nyc_output/

# Cache & Temporary files
.cache/
.eslintcache
.stylelintcache
*.tsbuildinfo

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Tarballs / NPM Pack outputs
*.tgz